.burguer {
  background: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);

  span{
    display: block;
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    transition: all .3s ease-in-out; 

    &:first-child {
      content: '';
      transform: translateY(-8px);
      @extend span;
    }

    &:last-child {
      content: '';
      transform: translateY(8px);
      @extend span;
    }
  }
}