.header {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #CC10A3;

  &__logo {
    flex: 1;
  }

  &__slogan {
    width: 100%;
    text-align: center;
    color: white;
    margin: 0;
    letter-spacing: 2px;
  }
}