
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Quicksand-Regular, sans-serif;
  background: linear-gradient(162.44deg, #CC10A3 15.6%, #6E10CC 100%);
  width: 100%;
  background-repeat: no-repeat;
}

@font-face {
  font-family: Quicksand-Regular;
  src: url('/fonts/Quicksand-Regular.ttf');
}